* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* font-family: 'IBM Plex Sans', sans-serif; */

body {
  background-color: #E5E5E5;
  font-family: 'IBM Plex Sans', sans-serif;

}

/* Header styling */
.date-time {
  padding: 25px;
  padding-bottom: 8%;
}

.date {
  font-size: 5rem;
  font-weight: 100;
  text-align: center;
}

.time {
  font-size: 3.5rem;
  font-weight: 300;
  text-align: center;
}

/* Greeting */

.greeting {
  text-align: center;
}

.greeting--header {
  font-size: 55px;
  font-weight: 200;
}

.greeting--paragraph {
  font-size: 25px;
  font-weight: 200;
}