* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --segment-spacing: 10%;
}

/* font-family: 'IBM Plex Sans', sans-serif; */

html,
body {
  font-family: "IBM Plex Sans", sans-serif;
  height: 100%;
  /* background-color: rgb(226, 226, 226); */
  /* color: rgb(41, 41, 41); */

}

.day {
  color: rgb(41, 41, 41);
  background-color: rgb(226, 226, 226);
  transition: background-color 250ms ease-in-out;
}

.night {
  color: rgb(222, 222, 222);
  background-color: rgb(48, 48, 48);
  transition: background-color 250ms ease-in-out;
}

.main {
  height: 100%;
  height: 100vh;
}

/* Get location */
.location-form-header {
  text-align: center;
}

input {
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  border: 1px black;
  border-radius: 5px;
  font-family: "IBM Plex Sans", sans-serif;
  height: 35px;
  width: 300px;
}

button {
  display: block;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  border: 1px black;
  border-radius: 5px;
  font-family: "IBM Plex Sans", sans-serif;
  height: 35px;
  width: 300px;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

button:hover {
  color: white;
  background-color: rgb(94, 94, 94);
  transition: background-color 250ms ease-in-out;
}

/*  */

/* Menu */
.menu-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.menu-list {
  position: absolute;
  top: 40px;
  left: 15px;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.active {
  top: 40px;
  left: 15px;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

.menu-list-items {
  padding: 15px;
  font-size: 15px;
  list-style-type: none;
  border-radius: 5px;
  text-align: center;
}

.menu-button {
  width: 200px;
  box-shadow: 0px 0px 5px;
}

.menu-button:hover {
  width: 200px;
}

/*  */

/* Header styling */
.date-time {
  padding: 25px;
  padding-bottom: var(--segment-spacing);
}

.date {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}

.time {
  font-size: 4rem;
  font-weight: 100;
  text-align: center;
}

/* Greeting */

.greeting {
  text-align: center;
}

.greeting--header {
  font-size: 55px;
  font-weight: 200;
}

.greeting--paragraph {
  font-size: 25px;
  font-weight: 200;
}

/* Weather */

.weather-desc {
  text-align: center;
}

.f-c-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.unit-switch {
  cursor: pointer;
  user-select: none;
}

/* Ticker/Prices */

.price-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  max-width: 40%;
  margin: auto;

  font-size: 20px;
  font-weight: 200;
}

.refresh {
  font-size: 25px;
  transition: transform 0.3s ease-in-out;
  user-select: none;
}

.refresh:hover {
  cursor: pointer;
  transform: rotate(0.5turn);
  transition: transform 0.2s ease-in-out;
}

/* Half chop-up */
.bottom-half {
  padding-top: var(--segment-spacing);
}

.unit {
  font-size: 15px;
}

/* Media Query for larger monitors */
@media screen and (min-width: 1600px) {

  /* Date and Time */
  .date {
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
  }

  .time {
    font-size: 4rem;
    font-weight: 200;
    text-align: center;
  }

  /* Greeting and Weather desc */

  .greeting--header {
    font-size: 65px;
    font-weight: 300;
  }

  .greeting--paragraph {
    font-size: 30px;
    font-weight: 300;
  }

  /* Prices */

  .price-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    max-width: 40%;
    margin: auto;

    font-size: 30px;
    font-weight: 300;
  }
}

@media screen and (max-height: 700px) {
  .date-time {
    padding-bottom: 8%;
  }

  .date {
    font-size: 2.5rem;
    font-weight: 200;
    text-align: center;
  }

  .time {
    font-size: 3.5rem;
    font-weight: 100;
    text-align: center;
  }

  .greeting--header {
    font-size: 50px;
    font-weight: 200;
  }

  .bottom-half {
    padding-top: 8%;
  }
}